.vscode/
.mpc_venv/
build/
# build-safe/
build*
install/
log/
__pycache__/
ros_ws/build/
ros_ws/install/
ros_ws/log/
lcm_msgs/mors_msgs/
# ros_ws/
# mors_sim/
# radiolink_teleop/

*.csv
*.zip
*.pyc

MUJOCO_LOG.TXT
plotjuggler_layout.xml
.codex